.map {
  flex: 0 0 33.3333%;
  min-height: 150px;
  overflow: hidden;
  height: 65%;
  position: relative;
  z-index: 1;
}

.custom-marker-icon {
  text-align: center;
  line-height: 32px;
  color: black;
  font-size: 36px;
}
