/* main take up the whole screen */
body {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 1 auto;
}

.background,
.map {
  position: relative;
  height: 50%;
  z-index: 1;
}

.info {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

/* for responsive images */
.background,
.map {
  flex: 0 0 33.3333%;
  min-height: 150px;
  overflow: hidden;
}

.background img {
  width: auto;
  height: 100%;
  object-fit: contain;
  object-position: center;
  position: absolute;
  top: 0;
  left: 0;
}
